<header class="relative h-96">
    <img class="absolute brightness-50 min-h-full w-full h-full object-cover" src="/static/images/header-img.jpg">
    <div class="relative h-full flex flex-col space-y-4 items-center justify-center">
        <h2 class="text-3xl md:text-6xl font-black text-amber-500">
            NinjaGamer <span class="text-white">|</span> نینجا گیمر <span>🥷</span>
        </h2>
        <p class="text-lg md:text-3xl font-bold">محیطی برای گیمر های ایرانی و بازی ها خاص <span>🌟</span></p>
        <div class="text-center pb-2 text-xl flex flex-col">
            <a href="ts3server://ninjats.ir">TeamSpeak : <span class="font-bold text-amber-500">NinjaTs.IR</span></a>
            <a href="https://discord.gg/A62zwZqEGQ" class="font-bold text-indigo-500">Discord Server</a>
          </div>
    </div>
</header>