<nav class="flex flex-col lg:flex-row items-center bg-zinc-800 justify-around lg:h-14">
    <div>
        <h1 class="text-3xl font-black text-indigo-200"><a href="/">NinjaGamer</a></h1>
    </div>
    <ul class="flex flex-col lg:flex-row lg:w-1/2 text-center justify-around my-3 lg:my-0 space-y-2 lg:space-y-0">
        <li><a class="hover:text-yellow-300 <% if (path === '/') {%>text-amber-600<%}%>" href="/">خانه</a></li>
        <!-- <li>رویداد ها</li> -->
        <li><a class="hover:text-yellow-300 <% if (path === '/about') {%>text-amber-600<%}%>" href="/about">درباره ما</a></li>
        <li><a class="hover:text-yellow-300 <% if (path === '/rules') {%>text-amber-600<%}%>" href="/rules">قوانین</a></li>
        <li><a class="hover:text-yellow-300 <% if (path === '/dayz') {%>text-amber-600<%}%>" href="/dayz">آموزش</a></li>
        <li>
            <% if (isAuth) { %>
                <a class="hover:text-yellow-300" href="/account/logout">خروج</a>
                <span>/</span>
                <a href="/account/profile" class="px-2 py-1 rounded-md bg-yellow-500 font-bold <% if (path === '/account/profile') { %> bg-yellow-700 text-white <% } else { %> bg-yellow-300 text-black <% } %>">پروفایل</a>
            <% } else { %>
                <a class="hover:text-yellow-300 <% if (path === '/account/login') {%>text-amber-600<%}%>" href="/account/login">ورود</a>
                <span>/</span>
                <a href="/account/register" class="px-2 py-1 rounded-md bg-yellow-500 <% if (path === '/account/register') { %> bg-yellow-700 text-white <% } else { %> bg-yellow-300 text-black <% } %>">ثبت نام</a>
            <% } %>
        </li>
    </ul>
</nav>