<aside class="bg-gray-500
    rounded-tr-lg rounded-tl-lg lg:rounded-tl-none
    lg:rounded-r-lg lg:w-2/12 lg:border-l-yellow-600 lg:border-l-2 border-b-2 lg:border-b-0 border-b-yellow-600">
    <ul class="">
        <li
            class="px-3 py-2 text-2xl transition hover:text-sky-500 hover:bg-stone-600 lg:rounded-tr-xl<% if(path ==='/account/profile') { %> text-amber-500 bg-gray-700 <%}%>">
            <a href="/account/profile">اکانت من</a>
        </li>
        <li
            class="px-3 py-2 text-2xl transition hover:text-sky-500 hover:bg-stone-600 <% if(path ==='/account/profile/new-ticket') { %> text-amber-500 bg-gray-700 <%}%>">
            <a href="/account/profile/new-ticket">ارسال
                تیکت</a>
        </li>
        <li
            class="px-3 py-2 text-2xl transition hover:text-sky-500 hover:bg-stone-600 <% if(path ==='/account/profile/ticket-list') { %> text-amber-500 bg-gray-700 <%}%>">
            <a href="/account/profile/ticket-list">تیکت ها</a>
        </li>
    </ul>
</aside>