<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <title>NinjaGamer | درباره ما</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <main class="m-3 md:container md:mx-auto bg-zinc-800 rounded-lg flex flex-col space-y-4">
    <header class="text-center">
      <h3 class="py-3 text-3xl font-semibold">
        درباره ما
      </h3>
    </header>
    <div>
      <p class="pb-3 px-2">
        نینجا گیمر در شهریور ماه 1401 با هدف ایجاد یک کامینیوتی دوستانه برای گیمیر های پارسی زبان ایجاد شد برای دور هم جمع کردن افرادی که از بازی های معروف (MainStream) دنیا خسته شدن و قصد یک تجربه جدید را دارند.
        ما با گیم سرور بازی DayZ این کامینیوتی رو شروع کردیم و قصد داریم با ایجاد گیم سرور برای بازی های دیگه افراد بیشتری رو دور هم جمع کنیم و بتونیم ساعات خوشی رو با هم تجربه کنیم.
      </p>
      <p class="text-center pb-2">در صورتی که دوست داشته باشید میتوانید از طریق سرور دیسکورد و تیم اسپیک به ما ملحق شوید و این موضوع باعث افتخار ما است.</p>
      <div class="text-center pb-2 text-xl flex flex-col">
        <a href="ts3server://ninjats.ir">TeamSpeak : <span class="font-bold text-amber-500">NinjaTs.IR</span></a>
        <a href="https://discord.gg/A62zwZqEGQ" class="font-bold text-indigo-500">Discord Server</a>
      </div>
    </div>
  </main>
</body>

</html>