<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <title>NinjaGamer | درباره ما</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <main class="m-3 md:container md:mx-auto bg-zinc-800 rounded-lg flex flex-col space-y-4">
    <header class="text-center">
      <h3 class="py-3 text-3xl font-semibold">
        درباره ما
      </h3>
    </header>
    <div>
      <p class="px-2 pb-3">برای اتصال به سرور DayZ ابتدا شما باید مود های زیر را از طریق workshop استیم دانلود کرده و سپس نسبت به ورود به گیم سرور اقدام فرمایید</p>
      <div class="px-4 pb-2 flex flex-col space-y-2 items-center">
        <p class="text-red-500 font-bold">درصورت اضاف شدن مود جدید به سرور این لیست بروزرسانی میشود</p>
        <a class="text-xl font-medium text-amber-500" href="https://steamcommunity.com/sharedfiles/filedetails/?id=1559212036">CF</a>
        <a class="text-xl font-medium text-amber-500" href="https://steamcommunity.com/workshop/filedetails/?id=1582756848">ZomBerry Admin Tools</a>
        <a class="text-xl font-medium text-amber-500" href="https://steamcommunity.com/workshop/filedetails/?id=2115602332">SchanaModGlobalChat</a>
      </div>
      <p class="px-3 pb-2">در صورت نیاز به راهنمایی بیشتر میتوانید از طریق صفحه <a class="text-amber-400 font-semibold" href="/about">درباره ما</a> وارد سرور تیم اسپیک یا دیسکورد ما شوید و از ادمین ها راهنمایی بگیرید.</p>
      <p class="px-3 pb-2">اگر هم دوست داشتید مینوانید با دیدن ویدیو‌ آموزشی زیر به گیم سرور ما در DayZ وارد شوید.</p>
      <div class="lg:flex lg:justify-center pb-2">
        <div class="w-full lg:w-1/2" id="56323989101"><script type="text/JavaScript" src="https://www.aparat.com/embed/uRkGq?data[rnddiv]=56323989101&data[responsive]=yes&recom=none"></script></div>
      </div>
    </div>
  </main>
</body>

</html>