<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <title>NinjaGamer | ููุฌุงฺฏูุฑ</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <article class="my-3 flex flex-col items-center">
    <header>
      <h3 class="text-lg md:text-4xl font-bold text-center">ูุฏู ุงุฒ ุงุฌุงุฏ ููุฌุง ฺฏูุฑ ฺู ุ ๐ค</h3>
    </header>
    <hr class="my-2 w-11/12 border-2 border-amber-600">
    <p class="text-md md:text-2xl font-semibold container w-11/12 text-center">
      ุฏุฑ ุญููุช <span class="text-amber-400">ููุฌุง ฺฏูุฑ</span> ฺฉ ฺฉุงูููุช ฺฉูฺฺฉ ุงุฒ ุงูุฑุงุฏ ูุณุช ฺฉู ุฏูุฑ ูู ุฌูุน ุดุฏู ุชุง ุงุฒ ุจุงุฒ ูุง ูุนุฑูู ูุซู PUBG ,WarZone , CSGO ู ... ูุงุตูู ุจฺฏุฑู ู ุจุงุฒ ูุง ุฑู ฺฉู ฺฉูุชุฑ ุฏุฑ ุฌุงูุนู ฺฏูุฑ ูุง ูพุงุฑุณ ุฒุจุงู ุฏุฏู ูุดู ุฑู ุจุง ูู ุชุฌุฑุจู ฺฉูู ู ูุง ุฏุฑ ุงู ุฑุงู ุชูุงุด ูฺฉูู ุชุง ูุญุท ุณุงูู ู ุตูู ุงุฒ ุงูุฑุงุฏ ุฑู ุฏูุฑ ูู ุฌูุน ฺฉูู ู ุจุง ุฑุงู ุงูุฏุงุฒ ฺฏู ุณุฑูุฑ ูุง ุงุฎุชุตุงุต ุฎูุฏููู ุชุฌุฑุจู ุงู ุจุงุฒ ูุง ุฑู ูุฐุช ุจุฎุด ุชุฑ ฺฉูู.
    </p>
  </article>
  <div class="flex flex-col bg-zinc-800 md:container md:mx-auto rounded mt-10 mb-4 mx-4">
    <header class="p-4 border-b-2 border-amber-600"><h3 class="text-3xl font-bold text-center">ุจุงุฒ ูุง ูุนุงู</h3></header>
    <div class="p-4 flex flex-col xl:flex-row">
      <img class="h-96 object-contain rounded border-1 transform hover:scale-105 transition-all" src="/static/images/dayz-sv.webp" alt="ุนฺฉุณ ุณุฑูุฑ DayZ">
      <div class="p-6 flex flex-col items-center">
        <h4 class="text-2xl font-bold">DayZ</h4>
        <p class="text-lg">DayZ ฺฉ ุจุงุฒ ุณุจฺฉ ุจูุง ูุจุงุดุฏ ู ุดูุง ุจุฑุง ุฒูุฏู ูููุฏู ุฏุฑ ุงู ุจุงุฒ ุจุงุฏ ุฏุณุช ุจู ูุฑฺฉุงุฑ ุจุฒูุฏ. ุงุฒ ฺฉุดุชู ุฒุงูุจ ูุง ุชุง ูพุฏุง ฺฉุฑุฏู ุขุจ ุบุฐุง ู ุฏุงุฑู ุจุฑุง ุจูุงุฑ ูุง ฺฉู ููฺฉู ูุณุช ูุจุชูุง ุดูุฏ ู ุงุฒ ููู ุฌุงูุจ ุชุฑ ูุฑุงุฑ ุง ูุจุงุฑุฒู ุจุง ุจูู ฺฉุณุง ฺฉู ุจุฑุง ุฒูุฏฺฏ ุฎูุฏุดูู ุฏุงุฑู ูุฌูฺฏู. ุจุงุฒ ุดุงูู ูฺฉุงูุฒู ูุง ุจุณุงุฑ ูพฺุฏู ู ุฌุฐุงุจ ูุจุงุดุฏ ฺฉู ุดูุง ุฑู ูุชููู ุณุงุนุช ูุง ุณุฑฺฏุฑู ฺฉูู. ุฏุฑ DayZ ุชููุน ุงุตูุญู ูุง ุจุณุงุฑ ุฒุงุฏ ูุณุช ู ุงู ููุถูุน ูุชููู ุจุฑุง ูุฑ ฺฏูุฑ ุฌุฐุงุจ ุจุงุดู!</p>
        <p class="font-semibold text-center mt-4">ุงฺฏุฑ ุฏูุณุช ุฏุงุฑ ุชูุงูุง ูุง ุฎูุฏุช ุฑู ุจู ฺุงูุด ุจฺฉุดูู ุจุฑุง ุดุฑูุน ูุชูู ุงุฒ ุขููุฒุด ูุง ูุง ุงุณุชูุงุฏู ฺฉู ุฑูู ๐</p>
        <a href="/dayz" class="text-lg py-1 px-3 bg-amber-400 mt-2 rounded-lg text-amber-800 font-bold">ุขููุฒุด ุจุงุฒ DayZ</a>
      </div>
    </div>
  </div>
  <footer></footer>
</body>

</html>