<!doctype html>
<html dir="rtl">

<head>
  <%- include('inc/heade')%>
  <title>NinjaGamer | درباره ما</title>
</head>

<body>
  <%- include('inc/nav')%>
  <%- include('inc/header')%>
  <main class="m-3 md:container md:mx-auto bg-zinc-800 rounded-lg flex flex-col space-y-4">
    <header class="text-center">
      <h3 class="pt-2 text-3xl font-semibold">
        قوانین
      </h3>
    </header>
    <div class="py-2 px-3">
      <p>برای داشتن تجربه ای بهتر و دوستانه تر و جلوگیری از مشکلات احتمالی تمامی اعضای NinjaGamer ملزم به رعایت قوانین میباشند و در صورت رعایت نکردن قوانین با شخص خاطی برخورد میشود.</p>
      <h3 class="font-bold text-xl my-2">قوانین:</h3>
      <div>
        <p>1. از شوخی با افرادی که نمیشناسید لطفا پرهیز کنید.</p>
        <p>2. اگر در هنگام بازی در تیم اسپیک یا دیسکورد سرور ما هستید به هیچ عنوان برای دیگران مزاحمت ایجاد نکنید.</p>
        <p>3. در صورت استفاده از چیت در گیم سرور ها شخص خاطی اول بن موقت و سپس بن دائم میشود.</p>
        <p>4. در صورت نیاز به راهنمایی یا رفع مشکل میتوانید از طریق تیکت سیستم درون وب سایت استفاده فرمایید.</p>
        <p class="text-center text-amber-500 font-semibold">ممکن است این قوانین دچار تغییراتی شوند.</p>
      </div>
    </div>
  </main>
</body>

</html>